.bg-child {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.bg,
.bg-child,
.order-cancel-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 334px;
}
.order-cancel-child {
  top: 2px;
  border-radius: 50%;
  background-color: var(--color-lightsalmon);
  width: 14px;
  height: 14px;
}
.order-cancel1 {
  position: absolute;
  top: 0;
  left: 19px;
  opacity: 0.7;
}
.order-cancel {
  position: absolute;
  top: 0;
  left: 211px;
  width: 104px;
  height: 18px;
}
.total-order-child {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-khaki);
  width: 14px;
  height: 14px;
}
.total-order {
  position: absolute;
  top: 0;
  left: 103px;
  width: 90px;
  height: 18px;
}
.total-sales-child {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-dodgerblue);
  width: 14px;
  height: 14px;
}
.indicator,
.total-sales {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 18px;
}
.indicator {
  top: 286px;
  left: 30px;
  width: 315px;
}
.dot-icon,
.pie-chart-icon {
  position: absolute;
  top: 79px;
  left: 100px;
  width: 176px;
  height: 176px;
}
.dot-icon {
  height: 0.6%;
  width: 4.27%;
  top: 12.28%;
  right: 8%;
  bottom: 87.13%;
  left: 87.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.product-sales-analytics {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}
.card-head {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 199px;
  height: 25px;
  font-size: var(--font-size-lg);
  font-family: var(--font-nunito);
}
.sales-analytics {
  position: absolute;
  top: 536px;
  left: 1035px;
  width: 375px;
  height: 334px;
  font-family: var(--font-google-sans);
}
.bg-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 757px;
  height: 487px;
}
.bg-item {
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
}
.bg-item,
.bg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 696px;
  height: 56px;
}
.div,
.piece {
  top: 0;
  left: 0;
  display: inline-block;
}
.div {
  position: absolute;
  font-weight: 600;
  width: 57px;
  height: 11px;
}
.piece {
  width: 80px;
}
.div1,
.pic,
.piece,
.price {
  position: absolute;
  height: 11px;
}
.pic {
  top: 23px;
  left: 454px;
  width: 80px;
}
.div1,
.price {
  width: 28px;
}
.div1 {
  top: 0;
  left: 0;
  display: inline-block;
}
.price {
  top: 23px;
  left: 334px;
}
.girls-top,
.name {
  position: absolute;
  width: 51px;
  height: 13px;
}
.girls-top {
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.name {
  top: 22px;
  left: 143px;
  color: var(--color-royalblue-200);
}
.image-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xl);
  background-color: #232227;
  width: 37px;
  height: 37px;
  opacity: 0.15;
}
.image-item {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.image {
  position: absolute;
  top: 10px;
  left: 96px;
  width: 37px;
  height: 37px;
}
.div2,
.position {
  position: absolute;
  width: 8px;
  height: 11px;
}
.div2 {
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 0.8;
}
.position {
  top: 23px;
  left: 20px;
}
.bg-inner,
.line-6 {
  position: absolute;
  top: 387px;
  left: 31px;
  width: 696px;
  height: 56px;
}
.bg-inner {
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--gray);
}
.total-price {
  position: absolute;
  top: 23px;
  left: 619px;
  width: 57px;
  height: 11px;
  color: var(--color-forestgreen);
}
.name1,
.smart-watch {
  position: absolute;
  width: 78px;
  height: 13px;
}
.smart-watch {
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.name1 {
  top: 22px;
  left: 143px;
  color: var(--color-royalblue-200);
}
.image-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xl);
  background-color: #367efe;
  width: 37px;
  height: 37px;
  opacity: 0.15;
}
.bg-parent,
.image-child1 {
  position: absolute;
  top: 331px;
  left: 31px;
  width: 696px;
  height: 56px;
}
.image-child1 {
  top: 0;
  left: 0;
  border-radius: var(--br-9xl);
  background-color: #2a2857;
  width: 37px;
  height: 37px;
  opacity: 0.15;
}
.bg-child1,
.bg-group {
  position: absolute;
  top: 275px;
  left: 31px;
  width: 696px;
  height: 56px;
}
.bg-child1 {
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--gray);
  height: 55px;
}
.price2,
.total-sales4 {
  position: absolute;
  top: 22px;
  height: 11px;
}
.total-sales4 {
  left: 619px;
  width: 57px;
  color: var(--color-forestgreen);
}
.price2 {
  left: 334px;
  width: 28px;
}
.name3,
.shoes {
  position: absolute;
  width: 38px;
  height: 13px;
}
.shoes {
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.name3 {
  top: 21px;
  left: 143px;
  color: var(--color-royalblue-200);
}
.image-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xl);
  background-color: #b72d2a;
  width: 37px;
  height: 37px;
  opacity: 0.15;
}
.image-child4 {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 25px;
  height: 23px;
  object-fit: cover;
}
.image3,
.posotion-icon {
  position: absolute;
  top: 9px;
  left: 96px;
  width: 37px;
  height: 37px;
}
.posotion-icon {
  top: 18px;
  left: 20px;
  width: 13px;
  height: 17.8px;
}
.bg-child2,
.line-3 {
  position: absolute;
  top: 220px;
  left: 31px;
  width: 696px;
  height: 55px;
}
.bg-child2 {
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
}
.image-child5,
.pics {
  position: absolute;
  top: 22px;
  left: 454px;
  width: 80px;
  height: 11px;
}
.image-child5 {
  top: 0;
  left: 0;
  border-radius: var(--br-9xl);
  background-color: #a4a2ff;
  width: 37px;
  height: 37px;
  opacity: 0.2;
}
.position-icon {
  position: absolute;
  top: 19px;
  left: 20px;
  width: 13px;
  height: 17.8px;
}
.bg-container,
.line-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 696px;
  height: 55px;
}
.line-2 {
  top: 165px;
  left: 31px;
}
.pic1,
.piece5 {
  position: absolute;
  width: 72px;
  height: 11px;
}
.piece5 {
  top: 0;
  left: 0;
  display: inline-block;
}
.pic1 {
  top: 22px;
  left: 454px;
}
.blutooth-devices,
.name5 {
  position: absolute;
  width: 93px;
  height: 12px;
}
.blutooth-devices {
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.name5 {
  top: 22px;
  left: 143px;
  color: var(--color-royalblue-200);
}
.image-child7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xl);
  background-color: var(--color-khaki);
  width: 37px;
  height: 37px;
  opacity: 0.15;
}
.arrow-down-6,
.line-1 {
  position: absolute;
  top: 110px;
  left: 31px;
  width: 696px;
  height: 55px;
}
.arrow-down-6 {
  height: 44.64%;
  width: 7.89%;
  top: 55.36%;
  right: 0;
  bottom: 0;
  left: 92.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.2;
}
.total-sales7 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 60px;
  height: 11px;
}
.arrow-down-5,
.total-sales6 {
  position: absolute;
  height: 100%;
  width: 11.59%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 88.41%;
}
.arrow-down-5 {
  height: 44.64%;
  width: 7.59%;
  top: 55.36%;
  left: 92.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.2;
}
.total-order3 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 63px;
  height: 11px;
}
.arrow-down-4,
.total-order2 {
  position: absolute;
  height: 100%;
  width: 12.04%;
  top: 0;
  right: 21.8%;
  bottom: 0;
  left: 66.16%;
}
.arrow-down-4 {
  height: 44.64%;
  width: 13.64%;
  top: 55.36%;
  right: 0;
  left: 86.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.2;
}
.arrow-down-3,
.price5 {
  position: absolute;
  height: 100%;
  width: 6.71%;
  top: 0;
  right: 45.43%;
  bottom: 0;
  left: 47.87%;
}
.arrow-down-3 {
  height: 44.64%;
  width: 12.5%;
  top: 55.36%;
  right: 0;
  left: 87.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.2;
}
.name7 {
  left: 0;
  display: inline-block;
  width: 32px;
  height: 11px;
}
.name6,
.name7,
.sn1 {
  position: absolute;
  top: 0;
}
.name6 {
  height: 100%;
  width: 7.32%;
  right: 79.88%;
  bottom: 0;
  left: 12.8%;
}
.sn1 {
  left: 0;
  display: inline-block;
  width: 17px;
  height: 11px;
}
.arrow-down-2 {
  position: absolute;
  height: 44.64%;
  width: 18.18%;
  top: 55.36%;
  right: 0;
  bottom: 0;
  left: 81.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.2;
}
.sn,
.table-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 33px;
  height: 11.2px;
}
.table-head {
  height: 2.3%;
  width: 86.66%;
  top: 17.25%;
  right: 6.61%;
  bottom: 80.45%;
  left: 6.74%;
}
.see-more {
  position: absolute;
  top: 32px;
  left: 675px;
  width: 52px;
  height: 16px;
  color: var(--primary);
}
.card-herad {
  position: absolute;
  top: 28px;
  left: 30px;
  width: 174px;
  height: 25px;
  font-size: var(--font-size-lg);
}
.top-salling-product {
  position: absolute;
  top: 385px;
  left: 248px;
  width: 757px;
  height: 487px;
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.product-page-element-child,
.product-page-element-item {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.product-page-element-child {
  height: 0.22%;
  width: 1.13%;
  top: 23.67%;
  right: 2.13%;
  bottom: 76.11%;
  left: 96.74%;
  opacity: 0.5;
}
.product-page-element-item {
  height: 2.22%;
  width: 2.01%;
  top: 23.78%;
  right: 77.7%;
  bottom: 74%;
  left: 20.28%;
}
.div15,
.number {
  position: absolute;
  top: 0;
  width: 39px;
  height: 11px;
}
.div15 {
  left: 0;
  display: inline-block;
}
.number {
  left: 64px;
}
.jul {
  display: inline-block;
  opacity: 0.7;
}
.jul,
.month,
.progress-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 11px;
}
.progress-child {
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--color-royalblue-100);
  width: 19px;
  height: 12px;
}
.line-8,
.number1,
.progress1 {
  position: absolute;
  top: 1px;
  left: 30px;
  width: 19px;
  height: 12px;
}
.line-8,
.number1 {
  top: 210px;
  left: 0;
  width: 103px;
  height: 13px;
}
.number1 {
  top: 0;
  left: 276px;
  width: 39px;
  height: 11px;
}
.progress-item,
.progress2 {
  position: absolute;
  width: 231px;
  height: 12px;
}
.progress-item {
  top: 0;
  left: 0;
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--color-lightsalmon);
}
.progress2 {
  top: 1px;
  left: 30px;
}
.jun {
  display: inline-block;
  opacity: 0.7;
}
.jun,
.jun-wrapper,
.line-7,
.number2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 11px;
}
.line-7,
.number2 {
  top: 175px;
  width: 315px;
  height: 13px;
}
.number2 {
  top: 0;
  left: 104px;
  width: 39px;
  height: 11px;
}
.progress-inner,
.progress3 {
  position: absolute;
  width: 59px;
  height: 12px;
}
.progress-inner {
  top: 0;
  left: 0;
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--color-royalblue-100);
}
.progress3 {
  top: 1px;
  left: 30px;
}
.may {
  display: inline-block;
  opacity: 0.7;
}
.line-5,
.may,
.montjh,
.number3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 14px;
}
.line-5,
.number3 {
  top: 139px;
  width: 143px;
}
.number3 {
  top: 0;
  left: 188px;
  width: 39px;
  height: 11px;
}
.prgress,
.prgress-child {
  position: absolute;
  width: 143px;
  height: 12px;
}
.prgress-child {
  top: 0;
  left: 0;
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--color-royalblue-100);
}
.prgress {
  top: 1px;
  left: 30px;
}
.apr {
  display: inline-block;
  opacity: 0.7;
}
.apr,
.line-4,
.month2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 13px;
}
.line-4 {
  top: 104px;
  width: 227px;
}
.div19,
.number4 {
  position: absolute;
  width: 44px;
  height: 11px;
}
.div19 {
  top: 0;
  left: 0;
  display: inline-block;
}
.number4 {
  top: 1px;
  left: 258px;
}
.progress-child1,
.progress4 {
  position: absolute;
  top: 0;
  width: 213px;
  height: 12px;
}
.progress-child1 {
  left: 0;
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--color-lightsalmon);
}
.progress4 {
  left: 30px;
}
.line-31,
.mar,
.month3,
.number5 {
  position: absolute;
  left: 0;
  width: 22px;
  height: 11px;
}
.mar {
  top: 0;
  display: inline-block;
  opacity: 0.7;
}
.line-31,
.month3,
.number5 {
  top: 1px;
}
.line-31,
.number5 {
  top: 70px;
  width: 302px;
  height: 12px;
}
.number5 {
  top: 0;
  left: 131px;
  width: 39px;
  height: 11px;
}
.progress-child2,
.progress5 {
  position: absolute;
  width: 86px;
  height: 12px;
}
.progress-child2 {
  top: 0;
  left: 0;
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--color-royalblue-100);
}
.progress5 {
  top: 1px;
  left: 30px;
}
.feb {
  display: inline-block;
  opacity: 0.7;
}
.div21,
.feb,
.line-21,
.month4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 12px;
}
.div21,
.line-21 {
  top: 35px;
  width: 170px;
  height: 13px;
}
.div21 {
  top: 0;
  left: 212px;
  display: inline-block;
  width: 49px;
  height: 11px;
}
.progress-child3,
.progress6 {
  position: absolute;
  width: 167px;
  height: 12px;
}
.progress-child3 {
  top: 0;
  left: 0;
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
  background-color: var(--color-lightsalmon);
}
.progress6 {
  top: 1px;
  left: 30px;
}
.line-11,
.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 261px;
  height: 13px;
}
.progress {
  top: 83px;
  left: 30px;
  width: 315px;
  height: 223px;
}
.product-add-by {
  position: absolute;
  top: 0;
  left: 0;
  white-space: pre-wrap;
  opacity: 0.7;
}
.card-head1 {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 195px;
  height: 25px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-nunito);
}
.product-add-by-month {
  position: absolute;
  top: 172px;
  left: 1035px;
  width: 375px;
  height: 334px;
  font-size: var(--font-size-xs);
  font-family: var(--font-google-sans);
}
.bg-child5,
.bg8,
.salesmask-icon {
  position: absolute;
  left: 0;
  width: 363.5px;
  height: 181px;
}
.bg-child5 {
  top: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.bg8,
.salesmask-icon {
  top: 1px;
}
.salesmask-icon {
  height: 99.45%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0.55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.icon,
.icon-child {
  position: absolute;
  width: 64px;
  height: 64px;
}
.icon-child {
  top: 0;
  left: 0;
  border-radius: 55px;
  background-color: var(--color-khaki);
  opacity: 0.1;
}
.icon {
  top: 21px;
  left: 20px;
}
.sales-today,
.small-text,
.total-sales9 {
  position: absolute;
  width: 98px;
  height: 11px;
}
.sales-today {
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
  opacity: 0.9;
}
.small-text,
.total-sales9 {
  top: 3px;
  left: 146px;
}
.total-sales9 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 86px;
  height: 14px;
}
.b,
.text-group {
  position: absolute;
  left: 0;
  width: 103px;
}
.b {
  top: 26px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  height: 26px;
}
.text-group {
  top: 0;
  height: 52px;
  opacity: 0.7;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
}
.sales,
.total-sales8 {
  position: absolute;
  top: 27px;
  left: 99px;
  width: 244px;
  height: 52px;
}
.sales {
  top: 171px;
  left: 642px;
  width: 363.5px;
  height: 182px;
  font-size: var(--font-size-2xs);
  color: var(--color-forestgreen);
}
.bg9,
.product-mask-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 363.5px;
  height: 181px;
}
.product-mask-icon {
  top: 1px;
  left: 1px;
  object-fit: cover;
}
.icon-grup,
.total-product {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 64px;
  height: 64px;
}
.total-product {
  top: 0;
  left: 0;
  display: inline-block;
  width: 86px;
  height: 14px;
  opacity: 0.7;
}
.b1,
.total-product-parent {
  position: absolute;
  top: 26px;
  width: 103px;
}
.b1 {
  left: 0;
  font-size: var(--font-size-5xl);
  display: inline-block;
  height: 26px;
  opacity: 0.7;
}
.total-product-parent {
  left: 99px;
  height: 52px;
}
.new-added,
.small-rext {
  position: absolute;
  width: 96px;
  height: 11px;
}
.new-added {
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
  opacity: 0.9;
}
.small-rext {
  top: 29px;
  left: 247px;
  font-size: var(--font-size-2xs);
  color: var(--color-forestgreen);
}
.group-child,
.product {
  position: absolute;
  top: 172px;
  left: 248px;
  width: 364.5px;
  height: 182px;
}
.group-child {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--primary);
  width: 144.5px;
  height: 40px;
}
.add-product2 {
  position: absolute;
  top: 0;
  left: 20px;
  font-weight: 600;
  display: inline-block;
  width: 82px;
  height: 14px;
}
.group-item {
  position: absolute;
  height: 71.43%;
  width: 9.22%;
  top: 28.57%;
  right: 90.78%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.add-product-parent,
.group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 102px;
  height: 14px;
}
.group-wrapper {
  top: 11px;
  left: 21px;
}
.add-product1,
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 144.5px;
  height: 40px;
}
.add-product1 {
  left: 1017px;
}
.cuntomer,
.customer {
  position: absolute;
  width: 66px;
  height: 14px;
}
.customer {
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 0.8;
}
.cuntomer {
  top: 12px;
  left: 124px;
  color: var(--color-gray-100);
}
.product-child,
.product-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 211px;
  height: 40px;
}
.product-item {
  background-color: var(--primary);
  width: 101.8px;
}
.product2 {
  position: absolute;
  top: 12px;
  left: 23px;
  display: inline-block;
  width: 56px;
  height: 14px;
}
.btn,
.btn-grup,
.product1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 211px;
  height: 40px;
}
.btn,
.btn-grup {
  width: 1161.5px;
}
.btn {
  top: 98px;
  left: 248px;
  color: var(--color-white);
}
.bg-child7 {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 136.8px;
  height: 40px;
}
.arrow-down-21,
.bg-child7,
.div22 {
  position: absolute;
  top: 0;
  left: 0;
}
.arrow-down-21 {
  height: 35.26%;
  width: 8.33%;
  top: 31.58%;
  right: 0;
  bottom: 33.16%;
  left: 91.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.date-and-icon,
.parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 96px;
  height: 19px;
}
.date-and-icon {
  top: 11px;
  left: 20px;
}
.arrow-down-22,
.group-div,
.header-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 136.8px;
  height: 40px;
}
.arrow-down-22,
.header-inner {
  left: 1025px;
}
.arrow-down-22 {
  height: 35.26%;
  width: 8.33%;
  top: 35.26%;
  right: 0;
  bottom: 29.47%;
  left: 91.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.btn1,
.date-andicon {
  position: absolute;
  top: 11px;
  left: 18px;
  width: 96px;
  height: 19px;
}
.btn1 {
  top: 0;
  left: 868px;
  width: 136.8px;
  height: 40px;
}
.page-header,
.product-analytics {
  position: absolute;
  left: 0;
  width: 203px;
  height: 24px;
}
.product-analytics {
  top: 0;
  display: inline-block;
}
.page-header {
  top: 7px;
  font-size: var(--font-size-5xl);
  color: #010025;
}
.header {
  position: absolute;
  top: 30px;
  left: 248px;
  width: 1161.8px;
  height: 40px;
}
.bg12,
.profile-photo-child {
  position: absolute;
  top: 0;
  left: 0;
}
.bg12 {
  background-color: var(--color-white);
  width: 218px;
  height: 900px;
}
.profile-photo-child {
  background-color: #f7f7f8;
}
.profile-photo-child,
.profile-photo-inner,
.profile-photo-item {
  border-radius: var(--br-xs);
  width: 45px;
  height: 43px;
}
.profile-photo-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffc7d4;
}
.profile-photo-inner {
  object-fit: cover;
}
.easin-arafat,
.profile-photo,
.profile-photo-inner {
  position: absolute;
  top: 0;
  left: 0;
}
.profile-photo {
  width: 45px;
  height: 43px;
}
.easin-arafat {
  font-weight: 600;
}
.free-account {
  position: absolute;
  top: 17px;
  left: 0;
  font-size: var(--font-size-3xs);
  opacity: 0.5;
}
.logout-icon,
.text {
  position: absolute;
  top: 6px;
  left: 55px;
  width: 67px;
  height: 31px;
}
.logout-icon {
  height: 38.84%;
  width: 10.36%;
  top: 29.53%;
  right: 0;
  bottom: 31.63%;
  left: 89.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.4;
}
.log-out {
  position: absolute;
  top: 697px;
  left: 25px;
  width: 167px;
  height: 43px;
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.object-icon {
  position: absolute;
  top: 0;
  left: 9px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.illustration-child {
  position: absolute;
  top: 34px;
  left: 0;
  border-radius: 20px;
  background-color: #80abff;
  width: 168px;
  height: 161px;
  opacity: 0.1;
}
.object {
  position: absolute;
  top: 0;
  left: 9px;
  background-color: var(--color-dodgerblue);
  width: 150px;
  height: 150px;
  mix-blend-mode: color;
}
.illustration-item {
  position: absolute;
  top: 147px;
  left: 15px;
  border-radius: var(--br-3xs);
  background-color: var(--primary);
  width: 138px;
  height: 33px;
}
.upgrade-now {
  position: absolute;
  top: 155px;
  left: 45px;
  font-weight: 600;
}
.illustration,
.illustration-inner {
  position: absolute;
  top: 112px;
  left: 20px;
  width: 127px;
  height: 43px;
}
.illustration {
  top: 472px;
  left: 25px;
  width: 168px;
  height: 195px;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.settings1 {
  position: absolute;
  top: 1px;
  left: 38px;
  font-weight: 600;
  opacity: 0.5;
}
.iconlyboldsetting {
  position: absolute;
  height: 100%;
  width: 24.24%;
  top: 0;
  right: 75.76%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.4;
}
.settings {
  position: absolute;
  top: 390px;
  left: 28px;
  width: 99px;
  height: 24px;
}
.iconlyboldnotification {
  position: absolute;
  height: 100%;
  width: 19.51%;
  top: 0;
  right: 80.49%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.4;
}
.messages-child,
.notification {
  position: absolute;
  top: 336px;
  left: 28px;
  width: 123px;
  height: 24px;
}
.messages-child {
  top: 6px;
  left: 143px;
  border-radius: 7px;
  background-color: var(--red);
  width: 22px;
  height: 14px;
  opacity: 0.1;
}
.div24 {
  position: absolute;
  top: 7px;
  left: 148px;
  font-size: var(--font-size-3xs);
  font-weight: 600;
  color: var(--red);
}
.iconlyboldactivity {
  position: absolute;
  height: 100%;
  width: 14.55%;
  top: 0;
  right: 85.45%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.4;
}
.messages {
  position: absolute;
  top: 282px;
  left: 28px;
  width: 165px;
  height: 24px;
}
.iconlyboldcalendar {
  position: absolute;
  height: 100%;
  width: 23.08%;
  top: 0;
  right: 76.92%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.4;
}
.calendar {
  position: absolute;
  top: 228px;
  left: 28px;
  width: 104px;
  height: 24px;
}
.iconlybolddocument {
  position: absolute;
  height: 100%;
  width: 22.64%;
  top: 0;
  right: 77.36%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.4;
}
.schedule {
  position: absolute;
  top: 174px;
  left: 28px;
  width: 106px;
  height: 24px;
}
.iconlyboldticket {
  position: absolute;
  height: 100%;
  width: 26.97%;
  top: 0;
  right: 73.03%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.4;
}
.analytics,
.invoice {
  position: absolute;
  top: 120px;
  left: 28px;
  width: 89px;
  height: 24px;
}
.analytics {
  top: 66px;
  width: 106px;
}
.dashboard1 {
  position: absolute;
  top: 13px;
  left: 66px;
  font-weight: 600;
}
.iconlyboldcategory {
  position: absolute;
  height: 50%;
  width: 16.44%;
  top: 25%;
  right: 64.38%;
  bottom: 25%;
  left: 19.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.dashboard-child {
  top: 0;
  border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
  background: linear-gradient(90deg, #aca9ff, rgba(172, 169, 255, 0));
  width: 53px;
  height: 48px;
  opacity: 0.2;
}
.dashboard,
.dashboard-child,
.menu-name {
  position: absolute;
  left: 0;
}
.dashboard {
  top: 0;
  width: 146px;
  height: 48px;
  color: var(--primary);
}
.menu-name {
  top: 130px;
  width: 193px;
  height: 740px;
}
.subtract-icon {
  position: relative;
  width: 42px;
  height: 42px;
}
.base {
  position: absolute;
  top: 5px;
  left: 57px;
  font-weight: 600;
}
.logo-and-company {
  position: absolute;
  top: 50px;
  left: 53px;
  width: 111px;
  height: 42px;
  font-size: var(--font-size-5xl);
}
.menu,
.product-page-element {
  position: absolute;
  top: 0;
  left: 0;
  height: 900px;
}
.menu {
  width: 218px;
  font-size: var(--font-size-base);
}
.product-page-element {
  width: 1410px;
}
.overlay-child {
  background-color: var(--color-gray-100);
  opacity: 0.3;
}
@media (max-width: 576px) {
  .overlay-child {
    background-color: white;
   opacity: 1;
  }
}
@media (max-width: 768px) {
  .overlay-child {
    background-color: white;
   opacity: 1;
  }
}

.overlay,
.overlay-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 900px;
}
.add-product {
  width: 100%;
  position: relative;
  background-color: var(--gray);
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  font-family: var(--font-nunito);
  
}
