.bg-child9 {
  border-radius: var(--br-3xs);
  /* background-color: var(--primary); */
}
.bg-child9,
.bg13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 309px;
  height: 50px;
}
.save-product {
  position: absolute;
  top: 1px;
  left: 30px;
  font-weight: 600;
}
.download-icon {
  position: absolute;
  height: 95%;
  width: 17.39%;
  top: 0;
  right: 82.61%;
  bottom: 5%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.download,
.save-btn,
.save-product-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 115px;
  height: 20px;
}
.download,
.save-btn {
  top: 15px;
  left: 97px;
}
.save-btn {
  top: 815px;
  left: 35px;
  width: 309px;
  height: 50px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-nunito);
}
.save-product1{
  position: relative;
  bottom: 15px;
  right:  95px;
 border-radius: 10px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  background-color:blue;
  width: 309px;
  height: 50px;
  border:none;
  
}
.save-product1:hover{
background-color:black;
}
@media (max-width: 576px) {
  .save-product1{
   width: 250px;
  }
  .download-icon {
    position: absolute;
 left: -40px;
  }
}